@charset "UTF-8";

:root {
	--stx-color-white: #ffffff;
	--stx-color-black: #000000;
	--stx-color-primary-rgb: 64,158,255;
	--stx-color-success-rgb: 103,194,58;
	--stx-color-warning-rgb: 230,162,60;
	--stx-color-danger-rgb: 245,108,108;
	--stx-color-error-rgb: 245,108,108;
	--stx-color-info-rgb: 144,147,153;
	--stx-font-size-extra-large: 20px;
	--stx-font-size-large: 18px;
	--stx-font-size-medium: 16px;
	--stx-font-size-base: 14px;
	--stx-font-size-small: 13px;
	--stx-font-size-extra-small: 12px;
	--stx-font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','微软雅黑',Arial,sans-serif;
	--stx-font-weight-primary: 500;
	--stx-font-line-height-primary: 24px;
	--stx-index-normal: 1;
	--stx-index-top: 1000;
	--stx-index-popper: 2000;
	--stx-border-radius-base: 4px;
	--stx-border-radius-small: 2px;
	--stx-border-radius-round: 20px;
	--stx-border-radius-circle: 100%;
	--stx-transition-duration: 0.3s;
	--stx-transition-duration-fast: 0.2s;
	--stx-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
	--stx-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
	--stx-transition-all: all var(--stx-transition-duration) var(--stx-transition-function-ease-in-out-bezier);
	--stx-transition-fade: opacity var(--stx-transition-duration) var(--stx-transition-function-fast-bezier);
	--stx-transition-md-fade: transform var(--stx-transition-duration) var(--stx-transition-function-fast-bezier),opacity var(--stx-transition-duration) var(--stx-transition-function-fast-bezier);
	--stx-transition-fade-linear: opacity var(--stx-transition-duration-fast) linear;
	--stx-transition-border: border-color var(--stx-transition-duration-fast) var(--stx-transition-function-ease-in-out-bezier);
	--stx-transition-box-shadow: box-shadow var(--stx-transition-duration-fast) var(--stx-transition-function-ease-in-out-bezier);
	--stx-transition-color: color var(--stx-transition-duration-fast) var(--stx-transition-function-ease-in-out-bezier);
	--stx-component-size-large: 40px;
	--stx-component-size: 32px;
	--stx-component-size-small: 24px
}

:root {
	color-scheme: light;
	--stx-color-white: #ffffff;
	--stx-color-black: #000000;
	--stx-color-primary: #409eff;
	--stx-color-primary-light-3: #79bbff;
	--stx-color-primary-light-5: #a0cfff;
	--stx-color-primary-light-7: #c6e2ff;
	--stx-color-primary-light-8: #d9ecff;
	--stx-color-primary-light-9: #ecf5ff;
	--stx-color-primary-dark-2: #337ecc;
	--stx-color-success: #67c23a;
	--stx-color-success-light-3: #95d475;
	--stx-color-success-light-5: #b3e19d;
	--stx-color-success-light-7: #d1edc4;
	--stx-color-success-light-8: #e1f3d8;
	--stx-color-success-light-9: #f0f9eb;
	--stx-color-success-dark-2: #529b2e;
	--stx-color-warning: #e6a23c;
	--stx-color-warning-light-3: #eebe77;
	--stx-color-warning-light-5: #f3d19e;
	--stx-color-warning-light-7: #f8e3c5;
	--stx-color-warning-light-8: #faecd8;
	--stx-color-warning-light-9: #fdf6ec;
	--stx-color-warning-dark-2: #b88230;
	--stx-color-danger: #f56c6c;
	--stx-color-danger-light-3: #f89898;
	--stx-color-danger-light-5: #fab6b6;
	--stx-color-danger-light-7: #fcd3d3;
	--stx-color-danger-light-8: #fde2e2;
	--stx-color-danger-light-9: #fef0f0;
	--stx-color-danger-dark-2: #c45656;
	--stx-color-error: #f56c6c;
	--stx-color-error-light-3: #f89898;
	--stx-color-error-light-5: #fab6b6;
	--stx-color-error-light-7: #fcd3d3;
	--stx-color-error-light-8: #fde2e2;
	--stx-color-error-light-9: #fef0f0;
	--stx-color-error-dark-2: #c45656;
	--stx-color-info: #909399;
	--stx-color-info-light-3: #b1b3b8;
	--stx-color-info-light-5: #c8c9cc;
	--stx-color-info-light-7: #dedfe0;
	--stx-color-info-light-8: #e9e9eb;
	--stx-color-info-light-9: #f4f4f5;
	--stx-color-info-dark-2: #73767a;
	--stx-bg-color: #ffffff;
	--stx-bg-color-page: #f2f3f5;
	--stx-bg-color-overlay: #ffffff;
	--stx-text-color-primary: #303133;
	--stx-text-color-regular: #606266;
	--stx-text-color-secondary: #909399;
	--stx-text-color-placeholder: #a8abb2;
	--stx-text-color-disabled: #c0c4cc;
	--stx-border-color: #dcdfe6;
	--stx-border-color-light: #e4e7ed;
	--stx-border-color-lighter: #ebeef5;
	--stx-border-color-extra-light: #f2f6fc;
	--stx-border-color-dark: #d4d7de;
	--stx-border-color-darker: #cdd0d6;
	--stx-fill-color: #f0f2f5;
	--stx-fill-color-light: #f5f7fa;
	--stx-fill-color-lighter: #fafafa;
	--stx-fill-color-extra-light: #fafcff;
	--stx-fill-color-dark: #ebedf0;
	--stx-fill-color-darker: #e6e8eb;
	--stx-fill-color-blank: #ffffff;
	--stx-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04),0px 8px 20px rgba(0, 0, 0, 0.08);
	--stx-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
	--stx-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
	--stx-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08),0px 12px 32px rgba(0, 0, 0, 0.12),0px 8px 16px -8px rgba(0, 0, 0, 0.16);
	--stx-disabled-bg-color: var(--stx-fill-color-light);
	--stx-disabled-text-color: var(--stx-text-color-placeholder);
	--stx-disabled-border-color: var(--stx-border-color-light);
	--stx-overlay-color: rgba(0, 0, 0, 0.8);
	--stx-overlay-color-light: rgba(0, 0, 0, 0.7);
	--stx-overlay-color-lighter: rgba(0, 0, 0, 0.5);
	--stx-mask-color: rgba(255, 255, 255, 0.9);
	--stx-mask-color-extra-light: rgba(255, 255, 255, 0.3);
	--stx-border-width: 1px;
	--stx-border-style: solid;
	--stx-border-color-hover: var(--stx-text-color-disabled);
	--stx-border: var(--stx-border-width) var(--stx-border-style) var(--stx-border-color);
	--stx-svg-monochrome-grey: var(--stx-border-color)
}

.fade-in-linear-enter-active,.fade-in-linear-leave-active {
	transition: var(--stx-transition-fade-linear)
}

.fade-in-linear-enter-from,.fade-in-linear-leave-to {
	opacity: 0
}

.stx-fade-in-linear-enter-active,.stx-fade-in-linear-leave-active {
	transition: var(--stx-transition-fade-linear)
}

.stx-fade-in-linear-enter-from,.stx-fade-in-linear-leave-to {
	opacity: 0
}

.stx-fade-in-enter-active,.stx-fade-in-leave-active {
	transition: all var(--stx-transition-duration) cubic-bezier(.55,0,.1,1)
}

.stx-fade-in-enter-from,.stx-fade-in-leave-active {
	opacity: 0
}

.stx-zoom-in-center-enter-active,.stx-zoom-in-center-leave-active {
	transition: all var(--stx-transition-duration) cubic-bezier(.55,0,.1,1)
}

.stx-zoom-in-center-enter-from,.stx-zoom-in-center-leave-active {
	opacity: 0;
	transform: scaleX(0)
}

.stx-zoom-in-top-enter-active,.stx-zoom-in-top-leave-active {
	opacity: 1;
	transform: scaleY(1);
	transition: var(--stx-transition-md-fade);
	transform-origin: center top
}

.stx-zoom-in-top-enter-active[data-popper-placement^=top],.stx-zoom-in-top-leave-active[data-popper-placement^=top] {
	transform-origin: center bottom
}

.stx-zoom-in-top-enter-from,.stx-zoom-in-top-leave-active {
	opacity: 0;
	transform: scaleY(0)
}

.stx-zoom-in-bottom-enter-active,.stx-zoom-in-bottom-leave-active {
	opacity: 1;
	transform: scaleY(1);
	transition: var(--stx-transition-md-fade);
	transform-origin: center bottom
}

.stx-zoom-in-bottom-enter-from,.stx-zoom-in-bottom-leave-active {
	opacity: 0;
	transform: scaleY(0)
}

.stx-zoom-in-left-enter-active,.stx-zoom-in-left-leave-active {
	opacity: 1;
	transform: scale(1,1);
	transition: var(--stx-transition-md-fade);
	transform-origin: top left
}

.stx-zoom-in-left-enter-from,.stx-zoom-in-left-leave-active {
	opacity: 0;
	transform: scale(.45,.45)
}

.collapse-transition {
	transition: var(--stx-transition-duration) height ease-in-out,var(--stx-transition-duration) padding-top ease-in-out,var(--stx-transition-duration) padding-bottom ease-in-out
}

.stx-collapse-transition-enter-active,.stx-collapse-transition-leave-active {
	transition: var(--stx-transition-duration) max-height ease-in-out,var(--stx-transition-duration) padding-top ease-in-out,var(--stx-transition-duration) padding-bottom ease-in-out
}

.horizontal-collapse-transition {
	transition: var(--stx-transition-duration) width ease-in-out,var(--stx-transition-duration) padding-left ease-in-out,var(--stx-transition-duration) padding-right ease-in-out
}

.stx-list-enter-active,.stx-list-leave-active {
	transition: all 1s
}

.stx-list-enter-from,.stx-list-leave-to {
	opacity: 0;
	transform: translateY(-30px)
}

.stx-list-leave-active {
	position: absolute!important
}

.stx-opacity-transition {
	transition: opacity var(--stx-transition-duration) cubic-bezier(.55,0,.1,1)
}

.stx-icon-loading {
	-webkit-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite
}

.stx-icon--right {
	margin-left: 5px
}

.stx-icon--left {
	margin-right: 5px
}

@-webkit-keyframes rotating {
	0% {
		transform: rotateZ(0)
	}

	100% {
		transform: rotateZ(360deg)
	}
}

@keyframes rotating {
	0% {
		transform: rotateZ(0)
	}

	100% {
		transform: rotateZ(360deg)
	}
}

.stx-icon {
	--color: inherit;
	height: 1em;
	width: 1em;
	line-height: 1em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	fill: currentColor;
	color: var(--color);
	font-size: inherit
}

.stx-icon.is-loading {
	-webkit-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite
}

.stx-icon svg {
	height: 1em;
	width: 1em
}